@use './style/tokens/spacing.scss';
.app-layout {
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow: auto;
  padding: var(--space-1) var(--space-4);
  background-color: var(--neutral-0);
}
